name: PostgreSQL Test Workflow
on: workflow_dispatch
jobs:
  test:
    runs-on: ubuntu-latest
    environment: testing
    env:
      POSTGRESQL_CLUSTER_ADDRESS: db.nlkorhyvpztahimbwlmb.supabase.co
      POSTGRESQL_USERNAME: postgres
      POSTGRESQL_PASSWORD: ${{ secrets.POSTGRESQL_PASSWORD }}
      PORT: 5432
    steps:
      - name: Install PostgreSQL client
        run: sudo apt-get install -y postgresql-client
      - name: Check PostgreSQL Client
        run: psql --version
      - name: Connect to Supabase PostgreSQL database
        run: |
          psql "postgresql://$POSTGRESQL_USERNAME:$POSTGRESQL_PASSWORD@$POSTGRESQL_CLUSTER_ADDRESS:$PORT/postgres?sslmode=require"

