name: PostgreSQL Test Workflow
on: workflow_dispatch
jobs:
  test:
    runs-on: ubuntu-latest
    environment: testing
    env:
      POSTGRESQL_CLUSTER_ADDRESS: db.nlkorhyvpztahimbwlmb.supabase.co
      POSTGRESQL_USERNAME: postgres
      POSTGRESQL_PASSWORD: ${{ secrets.POSTGRESQL_PASSWORD }}
      PORT: 5432
    steps:
      - name: Install PostgreSQL client
        run: sudo apt-get update && sudo apt-get install -y postgresql-client
      - name: Check PostgreSQL Client
        run: psql --version
      - name: Connect to Supabase PostgreSQL database
        run: |
          psql "postgresql://postgres.nlkorhyvpztahimbwlmb:$POSTGRESQL_PASSWORD@aws-1-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require" -c "SELECT 1;"

